<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Practice">

    <test name="Parameter Annotation">
        <parameter name="name" value="Techtorial Academy"></parameter>
        <classes>
            <class name="TestNGPractice.ParameterPractice"></class>
        </classes>
    </test>

</suite>